<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid;
    }
</style>
<body>
<form action="" th:action="@{/update}" method="post" th:object="${updateProduct}">
    <table>
        <tr>
            <input type="hidden" name="id" th:field="*{id}">
            <td><label>Name: </label></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><label>Detail: </label></td>
            <td><input type="text" th:field="*{detail}"></td>
        </tr>
        <tr>
            <td><label>Price: </label></td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td><label>Date: </label></td>
            <td><input type="date" th:field="*{date}"></td>
        </tr>
        <tr>
            <input type="submit" value="update">
        </tr>
    </table>
</form>
</body>
</html>